select {
  height: 36px;
  width: 32px;
  padding: 2px;
  margin: 2px;
  border: none;
  box-sizing: border-box;
  appearance: none;
  text-align: center;
  font-size: 22px;
}

option {
  height: 30px;
  text-align: center;

  &:first-of-type {
    display: none;
  }
}
