option {
  height: 30px;
  padding: 4px;
  text-align: center;
}

option:first-of-type {
  display: none;
}

select {
  height: 30px;
  width: 30px;
  padding: 4px;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: rgba(25, 255, 64, 0.945);
  text-align: center;
}
